header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #9B0000;
  position: sticky;
  top: 0;
  z-index: 2; }
  header .logoHeader {
    width: 15%; }
    header .logoHeader img {
      width: 80%; }
  header nav.navbar {
    background-color: #9B0000;
    font-size: large;
    color: white; }
    header nav.navbar .nav-item {
      margin: 2rem; }
    header nav.navbar .dropdown-menu {
      background-color: #9B0000; }
      header nav.navbar .dropdown-menu li .dropdown-item {
        color: white; }
        header nav.navbar .dropdown-menu li .dropdown-item:hover {
          color: #9B0000; }
  header .redesSociales {
    display: flex; }
    header .redesSociales .logoIG {
      width: 60px; }
    header .redesSociales .logoFB {
      width: 60px; }

main {
  position: relative;
  background-color: #911F27; }
  main .tituloPrincipal {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    position: absolute;
    z-index: 1;
    color: white;
    opacity: 70%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }
    main .tituloPrincipal h1 {
      font-size: 6rem;
      font-family: 'Square Peg', cursive;
      z-index: 1;
      animation: fadeIn;
      animation-duration: 10s; }

section .subtitulo {
  padding: 10px;
  animation: fadeIn;
  animation-duration: 2.5s; }

section article .subtituloGiras {
  animation: fadeInLeft;
  animation-duration: 2.5s;
  color: #911F27;
  background-color: white;
  text-align: left;
  font-family: "Asap Condensed", sans-serif;
  margin: 30px 0px 0px 30px; }

section article .actividadesGiras {
  display: flex;
  justify-content: left;
  background-color: white;
  align-items: center;
  margin: 20px;
  border-bottom: #911F27;
  border-bottom-style: solid;
  border-bottom-width: 4px; }
  section article .actividadesGiras .imgGiras {
    overflow: hidden;
    width: 50%;
    margin-bottom: 20px;
    display: flex;
    justify-content: left; }
    section article .actividadesGiras .imgGiras img {
      object-fit: cover;
      transition: 0.5s; }
      section article .actividadesGiras .imgGiras img:hover {
        transform: scale(1.2); }
  section article .actividadesGiras p {
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    margin: 20px; }

section article .subtituloIndividuales {
  background-color: white;
  text-align: right;
  margin: 30px 30px 0px 30px;
  color: #911F27;
  font-family: "Asap Condensed", sans-serif;
  animation: fadeInRight;
  animation-duration: 2.5s; }

section article .actividadesIndividuales {
  display: flex;
  justify-content: right;
  flex-direction: row-reverse;
  background-color: white;
  align-items: center;
  border-bottom: #911F27;
  margin: 20px; }
  section article .actividadesIndividuales .imgIndividuales {
    overflow: hidden;
    width: 50%;
    display: flex;
    justify-content: right; }
    section article .actividadesIndividuales .imgIndividuales img {
      object-fit: cover;
      transition: 0.5s; }
      section article .actividadesIndividuales .imgIndividuales img:hover {
        transform: scale(1.2); }
  section article .actividadesIndividuales p {
    font-size: 1.2rem;
    margin: 20px; }

main .tituloViajes h1 {
  animation: fadeIn;
  animation-duration: 2.5s; }

.contenedorGrupales .subtituloGrupales h2 {
  background-color: white;
  text-align: left;
  margin: 30px 0px 0px 30px;
  color: #911F27;
  font-family: "Asap Condensed", sans-serif;
  animation: fadeIn;
  animation-duration: 2.5s; }

.contenedorGrupales .grupales {
  display: flex;
  justify-content: space-between;
  background-color: white;
  align-items: center;
  margin: 20px;
  border-bottom: #911F27;
  border-bottom-style: solid;
  border-bottom-width: 4px; }
  .contenedorGrupales .grupales .imagenGrupales img {
    margin-bottom: 20px;
    animation: fadeIn;
    animation-duration: 2.5s; }
  .contenedorGrupales .grupales p {
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    margin: 20px; }

.contenedorIndividuales .subtituloIndividuales h2 {
  background-color: white;
  text-align: right;
  margin: 30px 30px 0px 30px;
  color: #911F27;
  font-family: "Asap Condensed", sans-serif;
  animation: fadeIn;
  animation-duration: 2.5s; }

.contenedorIndividuales .individuales {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  background-color: white;
  align-items: center;
  border-bottom: #911F27;
  margin: 20px; }
  .contenedorIndividuales .individuales p {
    font-size: 1.2rem;
    margin: 20px; }

.tituloFormulario {
  animation: fadeIn;
  animation-duration: 2.5s; }

.mainFormulario {
  color: #911F27;
  background-color: white;
  font-family: "Asap Condensed", sans-serif; }
  .mainFormulario .contenedorFormulario .formulario {
    margin: 20px 30px 20px 20px;
    padding: 0px 0px 0px 0px;
    border: #911F27 solid 5px;
    background-color: white;
    font-family: "Asap Condensed", sans-serif;
    animation: fadeIn;
    animation-duration: 2.5s; }
    .mainFormulario .contenedorFormulario .formulario fieldset legend {
      color: black;
      margin: 30px; }
    .mainFormulario .contenedorFormulario .formulario fieldset div label {
      color: #911F27;
      margin: 20px;
      margin-bottom: 20px;
      padding: 20px; }
    .mainFormulario .contenedorFormulario .formulario fieldset div .btnEnviar {
      background-color: #911F27; }
    .mainFormulario .contenedorFormulario .formulario fieldset div .btnResetear {
      background-color: green; }

.ubicacion {
  padding: 20px;
  background-color: white;
  font-family: "Asap Condensed", sans-serif; }
  .ubicacion h2 {
    color: BLACK;
    margin: 20px;
    margin-bottom: 10px;
    animation: fadeIn;
    animation-duration: 2.5s; }
  .ubicacion p {
    color: #911F27;
    margin: 20px;
    animation: fadeIn;
    animation-duration: 2.5s; }
  .ubicacion .imagenUbicacion img {
    display: flex;
    justify-content: center;
    animation: fadeIn;
    animation-duration: 2.5s; }

main {
  background-color: white; }
  main .tituloNosotros {
    animation: fadeIn;
    animation-duration: 2.5s; }
  main .nosotros {
    display: flex;
    justify-content: center;
    background-color: white;
    align-items: center;
    height: 500px;
    margin: 20px; }
    main .nosotros .imagenNosotros {
      overflow: hidden;
      width: 70%;
      height: 500px;
      margin-bottom: 20px;
      display: flex;
      justify-content: center; }
      main .nosotros .imagenNosotros img {
        object-fit: cover;
        transition: 0.5s; }
        main .nosotros .imagenNosotros img:hover {
          transform: scale(1.2); }
    main .nosotros p {
      display: flex;
      flex-direction: column;
      font-size: 1.2rem;
      margin: 20px; }

main .tituloGiras {
  animation: fadeIn;
  animation-duration: 2.5s; }

.containerDeportes {
  display: flex;
  justify-content: space-evenly;
  background-color: white;
  align-items: center;
  margin: 20px; }
  .containerDeportes .containerFutbol {
    width: 50%;
    margin: 10px; }
    .containerDeportes .containerFutbol img {
      object-fit: cover;
      transition: 0.5s; }
    .containerDeportes .containerFutbol h2 {
      background-color: white;
      text-align: center;
      color: #911F27;
      font-family: "Asap Condensed", sans-serif;
      animation: fadeIn;
      animation-duration: 2.5s; }
  .containerDeportes .containerHockey {
    width: 50%; }
    .containerDeportes .containerHockey img {
      object-fit: cover;
      transition: 0.5s; }
    .containerDeportes .containerHockey h2 {
      background-color: white;
      text-align: center;
      color: #911F27;
      font-family: "Asap Condensed", sans-serif;
      animation: fadeIn;
      animation-duration: 2.5s; }

footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0px 0px;
  background-color: #B22727; }
  footer img {
    width: 12%; }
  footer .datosContacto {
    padding: 30px;
    margin-right: 50px;
    text-align: right; }
    footer .datosContacto h3 {
      color: white;
      font-size: 1.2rem; }
    footer .datosContacto ul li {
      color: white;
      font-size: 1rem;
      list-style-type: none; }

/* /* GRID */
/* GRID PRINCIPAL */
.containerPrincipal {
  height: auto;
  display: grid;
  grid-template-areas: "header header" "main main" "section section" "footer footer"; }

.containerNosotros {
  height: auto;
  display: grid;
  grid-template-areas: "header header" "mainN mainN" "footer footer"; }

.containerContacto {
  height: auto;
  display: grid;
  grid-template-areas: "header header" "titulo  titulo" "formulario ubicacion" "footer footer"; }

.containerGiras {
  height: auto;
  display: grid;
  grid-template-areas: "header header" "tituloG  tituloG" "sectionG sectionG" "footer footer"; }

/* /* GRID AREAS */
header {
  grid-area: header; }

main {
  grid-area: main; }

section {
  grid-area: section; }

.mainGiras {
  grid-area: tituloG; }

.containerDeportes {
  grid-area: sectionG; }

.tituloFormulario {
  grid-area: titulo; }

.mainFormulario {
  grid-area: formulario; }

.contenedorFormulario {
  grid-area: formulario; }

.ubicacion {
  grid-area: ubicacion; }

footer {
  grid-area: footer; }

.viajesAMedidaMain {
  grid-area: tituloViajes; }

.contenedorGrupales {
  grid-area: grupales; }

.contenedorIndividuales {
  grid-area: individuales; }

.nosotrosM {
  grid-area: mainN; }

@media screen and (max-width: 400px) {
  /* MQ HEADER  */
  header {
    display: flex;
    flex-wrap: wrap;
    justify-content: cnter; }
    header .logoHeader {
      width: 40%; }
      header .logoHeader a {
        display: flex;
        justify-content: center; }
    header .navbar .container-fluid {
      justify-content: center; }
    header .navbar-toggler {
      justify-content: center; }
    header nav.navbar .nav-item {
      align-self: center;
      margin: 1rem; }
    header .redesSociales {
      display: none; }
  /* MQ INDEX */
  main .tituloPrincipal h1 {
    font-size: 2rem; }
  main .videoMain {
    max-width: 100%; }
  section article .subtituloGiras {
    text-align: center;
    margin: 0px; }
  section article .actividadesGiras {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: start;
    font-size: small;
    text-align: center; }
    section article .actividadesGiras img {
      max-width: 100%;
      height: auto; }
    section article .actividadesGiras p {
      font-size: 1rem; }
  section article .subtituloIndividuales {
    text-align: center;
    margin: 0px; }
  section article .actividadesIndividuales {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: start;
    font-size: small;
    text-align: center; }
    section article .actividadesIndividuales img {
      max-width: 100%;
      height: auto; }
    section article .actividadesIndividuales p {
      font-size: 1rem; }
  /* MQ FOOTER */
  footer {
    justify-content: center; }
    footer img {
      display: none; }
    footer .datosContacto {
      flex-direction: column;
      font-size: 1rem;
      text-align: center;
      margin: 0px; }
      footer .datosContacto h3 {
        font-size: 0.7rem; }
      footer .datosContacto ul {
        padding: 0px; }
        footer .datosContacto ul li {
          font-size: 0.7rem; }
  /* MQ NOSOTROS */
  .nosotros {
    display: flex;
    flex-direction: column;
    justify-content: start;
    font-size: small;
    text-align: center; }
  /* MQ CONTACTO */
  .containerContacto {
    height: auto;
    display: grid;
    grid-template-areas: "header" "titulo" "formulario" "ubicacion" "footer"; }
  /* MQ VIAJES A MEDIDA */
  /*  .containerViajesAMedida {
        height: auto;
        display: grid;
        grid-template-areas:
            "header"
            "tituloViajes"
            "grupales"
            "individuales"
            "footer";

        main {
            .viajesAMedidaMain {

                .tituloViajes {
                    h1 {
                        font-size: medium;
                        text-align: center;

                    }
                }
            }
        }

        section {
            .contenedorGrupales {
                .subtituloGrupales {
                    h2 {
                        font-size: medium;
                    }
                }

                .grupales {
                    display: flex;
                    flex-direction: column;
                    flex-wrap: wrap;
                    text-align: left;
                    font-size: small;
                    text-align: center;

                    .imagenGrupales {
                        img {
                            width: 200px;
                        }
                    }
                }
            }
        }



        .section {
            .contenedorIndividuales {
                .subtituloIndividuales {
                    h2 {
                        font-size: medium;
                    }
                }

                .individuales {
                    display: flex;
                    flex-direction: column;
                    flex-wrap: wrap;
                    justify-content: start;
                    font-size: small;
                    text-align: center;
                }
            }
        }
    } */
  .containerGiras {
    height: auto;
    display: grid;
    grid-template-areas: "header " "tituloG  " "sectionG " "footer "; }
  .containerDeportes {
    margin-top: 0px;
    flex-direction: column;
    align-items: center; }
    .containerDeportes .containerFutbol {
      justify-content: center;
      width: 50%; }
      .containerDeportes .containerFutbol h2 {
        margin-top: 0px; }
    .containerDeportes .containerHockey {
      justify-content: center;
      width: 50%; }
  /* MQ VIAJES A MEDIDA */
  .contenedorGrupales .subtituloGrupales h2 {
    text-align: center; }
  .contenedorGrupales .grupales {
    flex-direction: column;
    flex-wrap: wrap; }
    .contenedorGrupales .grupales img {
      max-width: 100%;
      height: auto; }
  .contenedorIndividuales .subtituloIndividuales h2 {
    text-align: center; }
  .contenedorIndividuales .individuales {
    flex-direction: column; }
    .contenedorIndividuales .individuales img {
      max-width: 100%;
      height: auto; } }

/* MQ MAX 1024 */
@media screen and (max-width: 1024px) {
  /* MQ HEADER */
  header {
    align-items: center; }
    header .logoHeader {
      width: 25%; }
      header .logoHeader a {
        display: flex;
        justify-content: center; }
    header .navbar .container-fluid {
      justify-content: center; }
    header .navbar-toggler {
      justify-content: center; }
    header nav.navbar .nav-item {
      align-self: center;
      margin: 1rem; }
    header .redesSociales a img {
      margin: 0px; }
  /* INDEX */
  main .tituloPrincipal h1 {
    font-size: 3rem; }
  main .videoMain {
    max-width: 100%; }
  section article .subtituloGiras {
    text-align: center;
    margin: 0px; }
  section article .actividadesGiras {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: start;
    font-size: small;
    text-align: center; }
    section article .actividadesGiras img {
      max-width: 100%;
      height: auto; }
    section article .actividadesGiras p {
      font-size: 1rem; }
  section article .subtituloIndividuales {
    text-align: center;
    margin: 0px; }
  section article .actividadesIndividuales {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: start;
    font-size: small;
    text-align: center; }
    section article .actividadesIndividuales img {
      max-width: 100%;
      height: auto; }
    section article .actividadesIndividuales p {
      font-size: 1rem; }
  /* FOOTER */
  footer img {
    width: 15%; }
  footer .datosContacto {
    margin: 10px;
    padding: 0px;
    text-align: left; }
    footer .datosContacto .datosContacto__parrafo {
      padding: 0px;
      margin: 0px; }
      footer .datosContacto .datosContacto__parrafo li {
        text-align: left; }
  .nosotros {
    display: flex;
    flex-direction: column;
    justify-content: start;
    font-size: small;
    text-align: center; }
  /* MQ CONTACTO */
  .containerContacto {
    height: auto;
    display: grid;
    grid-template-areas: "header" "titulo" "formulario" "ubicacion" "footer"; }
  /* MQ GIRAS DEPORTIVAS */
  .containerGiras {
    height: auto;
    display: grid;
    grid-template-areas: "header " "tituloG  " "sectionG " "footer "; }
  .containerDeportes {
    margin-top: 0px;
    flex-direction: column;
    align-items: center; }
    .containerDeportes .containerFutbol {
      justify-content: center;
      width: 50%; }
      .containerDeportes .containerFutbol h2 {
        margin-top: 0px; }
    .containerDeportes .containerHockey {
      justify-content: center;
      width: 50%; }
  /* MQ VIAJES A MEDIDA */
  .contenedorGrupales .subtituloGrupales h2 {
    text-align: center; }
  .contenedorGrupales .grupales {
    flex-direction: column;
    flex-wrap: wrap; }
    .contenedorGrupales .grupales img {
      max-width: 100%;
      height: auto; }
  .contenedorIndividuales .subtituloIndividuales h2 {
    text-align: center; }
  .contenedorIndividuales .individuales {
    flex-direction: column; }
    .contenedorIndividuales .individuales img {
      max-width: 100%;
      height: auto; } }

/* EXTEND */
section .subtitulo, main .tituloViajes h1, .tituloFormulario, main .tituloNosotros, main .tituloGiras {
  color: white;
  background-color: #911F27;
  text-align: center;
  font-family: "Asap Condensed", sans-serif; }

.mainFormulario .contenedorFormulario .formulario fieldset div .btnEnviar, .mainFormulario .contenedorFormulario .formulario fieldset div .btnResetear {
  border-radius: 1rem;
  margin: 50px;
  padding: 20px;
  color: white; }

* {
  box-sizing: border-box; }
