@media screen and (max-width:400px) {

    /* MQ HEADER  */
    header {

        display: flex;
        flex-wrap: wrap;
        justify-content: cnter;

        .logoHeader {
            width: 40%;


            a {
                display: flex;
                justify-content: center;
            }

        }

        .navbar .container-fluid {
            justify-content: center;
        }

        .navbar-toggler {
            justify-content: center;
        }

        nav.navbar .nav-item {
            align-self: center;
            margin: 1rem;
        }


        .redesSociales {
            display: none;
        }


    }


    /* MQ INDEX */

    main {
        .tituloPrincipal h1 {
            font-size: 2rem;
        }

        .videoMain {
            max-width: 100%;

        }

    }


    section {


        article {
            .subtituloGiras {
                text-align: center;
                margin: 0px;
            }

            .actividadesGiras {
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                justify-content: start;
                font-size: small;
                text-align: center;


                img {
                    max-width: 100%;
                    height: auto;



                }

                p {
                    font-size: 1rem;
                }
            }

            .subtituloIndividuales {
                text-align: center;
                margin: 0px;

            }

            .actividadesIndividuales {
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                justify-content: start;
                font-size: small;
                text-align: center;


                img {
                    max-width: 100%;
                    height: auto;



                }

                p {
                    font-size: 1rem;
                }
            }




        }

    }

    /* MQ FOOTER */

    footer {
        justify-content: center;

        img {
            display: none;
        }


        .datosContacto {

            flex-direction: column;
            font-size: 1rem;
            text-align: center;
            margin: 0px;

            h3 {

                font-size: 0.7rem;

            }

            ul {
                padding: 0px;

                li {
                    font-size: 0.7rem;
                }
            }
        }
    }

    /* MQ NOSOTROS */

    .nosotros {
        display: flex;
        flex-direction: column;
        justify-content: start;
        font-size: small;
        text-align: center;

    }

    /* MQ CONTACTO */

    .containerContacto {
        height: auto;
        display: grid;
        grid-template-areas:
            "header"
            "titulo"
            "formulario"
            "ubicacion"
            "footer";
    }



    .containerGiras {
        height: auto;
        display: grid;
        grid-template-areas:
            "header "
            "tituloG  "
            "sectionG "
            "footer ";

    }

    .containerDeportes {

        margin-top: 0px;
        flex-direction: column;
        align-items: center;

        .containerFutbol {
            justify-content: center;
            width: 50%;

            h2 {
                margin-top: 0px;
            }
        }

        .containerHockey {
            justify-content: center;
            width: 50%;
        }
    }

    /* MQ VIAJES A MEDIDA */

    .contenedorGrupales {



        .subtituloGrupales h2 {
            text-align: center;
        }

        .grupales {
            flex-direction: column;
            flex-wrap: wrap;


            img {
                max-width: 100%;
                height: auto;
            }


        }

    }



    .contenedorIndividuales {

        .subtituloIndividuales h2 {
            text-align: center;
        }

        .individuales {
            flex-direction: column;




            img {
                max-width: 100%;
                height: auto;
            }
        }
    }




}



/* MQ MAX 1024 */


@media screen and (max-width:1024px) {


    /* MQ HEADER */
    header {

        align-items: center;

        .logoHeader {
            width: 25%;


            a {
                display: flex;
                justify-content: center;
            }

        }

        .navbar .container-fluid {
            justify-content: center;
        }

        .navbar-toggler {
            justify-content: center;
        }

        nav.navbar .nav-item {
            align-self: center;
            margin: 1rem;
        }

        .redesSociales {


            a {
                img {
                    margin: 0px;
                }
            }
        }

    }

    /* INDEX */
    main {
        .tituloPrincipal h1 {
            font-size: 3rem;
        }

        .videoMain {
            max-width: 100%;

        }

    }


    section {


        article {
            .subtituloGiras {
                text-align: center;
                margin: 0px;
            }

            .actividadesGiras {
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                justify-content: start;
                font-size: small;
                text-align: center;


                img {
                    max-width: 100%;
                    height: auto;



                }

                p {
                    font-size: 1rem;
                }
            }

            .subtituloIndividuales {
                text-align: center;
                margin: 0px;

            }

            .actividadesIndividuales {
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                justify-content: start;
                font-size: small;
                text-align: center;


                img {
                    max-width: 100%;
                    height: auto;



                }

                p {
                    font-size: 1rem;
                }
            }




        }

    }

    /* FOOTER */

    footer {
        img {
            width: 15%;
        }

        .datosContacto {
            margin: 10px;
            padding: 0px;
            text-align: left;

            .datosContacto__parrafo {
                padding: 0px;
                margin: 0px;

                li {
                    text-align: left;
                }
            }

        }

    }

    .nosotros {
        display: flex;
        flex-direction: column;
        justify-content: start;
        font-size: small;
        text-align: center;

    }

    /* MQ CONTACTO */

    .containerContacto {
        height: auto;
        display: grid;
        grid-template-areas:
            "header"
            "titulo"
            "formulario"
            "ubicacion"
            "footer";
    }

    /* MQ GIRAS DEPORTIVAS */

    .containerGiras {
        height: auto;
        display: grid;
        grid-template-areas:
            "header "
            "tituloG  "
            "sectionG "
            "footer ";

    }

    .containerDeportes {

        margin-top: 0px;
        flex-direction: column;
        align-items: center;

        .containerFutbol {
            justify-content: center;
            width: 50%;

            h2 {
                margin-top: 0px;
            }
        }

        .containerHockey {
            justify-content: center;
            width: 50%;
        }
    }

    /* MQ VIAJES A MEDIDA */

    .contenedorGrupales {



        .subtituloGrupales h2 {
            text-align: center;
        }

        .grupales {
            flex-direction: column;
            flex-wrap: wrap;


            img {
                max-width: 100%;
                height: auto;
            }


        }

    }



    .contenedorIndividuales {

        .subtituloIndividuales h2 {
            text-align: center;
        }

        .individuales {
            flex-direction: column;




            img {
                max-width: 100%;
                height: auto;
            }
        }
    }

}