/* /* GRID */

/* GRID PRINCIPAL */

.containerPrincipal {
    height: auto;
    display: grid;
    grid-template-areas:
        "header header"
        "main main"
        "section section"
        "footer footer";
}

.containerNosotros {
    height: auto;
    display: grid;
    grid-template-areas:
        "header header"
        "mainN mainN"
        "footer footer";
}

.containerContacto {
    height: auto;
    display: grid;
    grid-template-areas:
        "header header"
        "titulo  titulo"
        "formulario ubicacion"
        "footer footer";
}

.containerGiras {
    height: auto;
    display: grid;
    grid-template-areas:
        "header header"
        "tituloG  tituloG"
        "sectionG sectionG"
        "footer footer";

}



/* /* GRID AREAS */

header {
    grid-area: header;
}

main {
    grid-area: main;
}

section {
    grid-area: section;
}


.mainGiras {
    grid-area: tituloG;
}
.containerDeportes {
    grid-area: sectionG;
}

.tituloFormulario {
    grid-area: titulo;
}

.mainFormulario {
    grid-area: formulario;
}

.contenedorFormulario {
    grid-area: formulario;
}

.ubicacion {
    grid-area: ubicacion;
}

footer {
    grid-area: footer;
}

.viajesAMedidaMain {
    grid-area: tituloViajes;
}

.contenedorGrupales {
    grid-area: grupales;
}

.contenedorIndividuales {
    grid-area: individuales;
}

.nosotrosM {
    grid-area: mainN;

}  