   main {


       .tituloViajes {

           h1 {
               @extend %titulo;
               @include animation (fadeIn, 2.5s);
               
              

           }
       }

   }

   .contenedorGrupales {

       .subtituloGrupales {
           h2 {
               background-color: $color-main3;
               text-align: left;
               margin: 30px 0px 0px 30px;
               color: $color-main2;
               font-family: $font-family;
               @include animation (fadeIn, 2.5s);
           }
       }

       .grupales {
           @include flex (flex, space-between);
           background-color: $color-main3;
           align-items: center;
           margin: 20px;
           border-bottom: $color-main2;
           border-bottom-style: solid;
           border-bottom-width: 4px;

           .imagenGrupales {
               img {
                   margin-bottom:20px;
                   @include animation (fadeIn, 2.5s);
               }
           }

           p {
            display: flex;
            flex-direction: column;
            font-size: 1.2rem;
            margin: 20px;
        }

           
       }
   }

   .contenedorIndividuales {
       
       .subtituloIndividuales {

           h2 {
               background-color: $color-main3;
               text-align: right;
               margin: 30px 30px 0px 30px;
               color: $color-main2;
               font-family:$font-family;
               @include animation (fadeIn, 2.5s);
           }
       }

       .individuales {
           @include flex (flex, space-between);
           flex-direction: row-reverse;
           background-color: $color-main3;
           align-items: center;
           border-bottom:$color-main2;
           margin: 20px;


           p {

            font-size: 1.2rem;
            margin: 20px;

        }
          

           
       }
   }