main {

    position: relative;
    background-color: $color-main2;

    .tituloPrincipal {
        @include flex (flex, center);
        flex-direction: column;
        width: 100%;
        position: absolute;
        z-index: 1;
        color: $color-texto;
        opacity: 70%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;



        h1 {
            font-size: 6rem;
            font-family: 'Square Peg', cursive;
            z-index: 1;
            animation: fadeIn;
            animation-duration: 10s;

        }

    }
}

section {

    .subtitulo {

        @extend %titulo;
        padding: 10px;
        @include animation (fadeIn, 2.5s);

    }



    article {

        .subtituloGiras {
            @include animation (fadeInLeft, 2.5s);
            @include subtitulo ($color-main2, white,left,$font-family);
            margin: 30px 0px 0px 30px;
            
            
        }


        .actividadesGiras {
            @include flex (flex, left);
                       
            background-color: white;
            align-items: center;
            margin: 20px;
            border-bottom: $color-main2;
            border-bottom-style: solid;
            border-bottom-width: 4px;





            .imgGiras {
                overflow: hidden;
                width: 50%;
                margin-bottom: 20px;
                display: flex;
                justify-content: left;



                img {

                    object-fit: cover;
                    transition: 0.5s;





                    &:hover {
                        transform: scale(1.2);
                    }
                }

            }


            p {
                display: flex;
                flex-direction: column;
                font-size: 1.2rem;
                margin: 20px;
            }


        }
    }

    article {
        .subtituloIndividuales {
            background-color: white;
            text-align: right;
            margin: 30px 30px 0px 30px;
            color: $color-main2;
            font-family: $font-family;
            @include animation (fadeInRight, 2.5s);
        }


        .actividadesIndividuales {
            @include flex (flex, right);
            flex-direction: row-reverse;
            background-color: $color-main3;
            align-items: center;
            border-bottom: $color-main2;
            margin: 20px;

            .imgIndividuales {

                overflow: hidden;
                width: 50%;
                display: flex;
                justify-content: right;
                

               img {

                    object-fit: cover;
                    transition: 0.5s;
                    


                    &:hover {
                        transform: scale(1.2);
                    }
                }


            }

            p {

                font-size: 1.2rem;
                margin: 20px;

            }


        }

    }
}